@import "tailwindcss";

.grid-cols-32 {
  display: grid;
  grid-template-columns: repeat(32, minmax(0, 1fr));
}

.grid-cols-16 {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

